body {
  font-family: 'Roboto Mono';
}

a, a:link {
  color: #044AFF;
}

a:visited {
  color: #9104FF;
}

.splash {
  width: 100vw;
  height: 100vh;
  padding: 10vh 10vw;
  box-sizing: border-box;

  position: relative;

  font-size: 3.2vh;
}

.splash ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .75em;
}

.splash .emoji {
  font-size: 2em;
  vertical-align: middle;
}

.splash main > *:not(:last-child) {
  margin-bottom: 10vh;
}

.splash footer {
  position: absolute;
  right: 10vw; bottom: 10vh; left: 10vw;

  font-size: .5em;
}

@media screen and (max-width: 667px) {
  .splash footer {
    bottom: 15vh;
  }
}

.hero-emoji {
  display: inline-block;
  font-size: 12vh;
  animation-name: wave;
  animation-duration: 9.6s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom right;
}

.buildmoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: text-top;
  background: url(./Buildmoji.svg) no-repeat;
  background-size: contain;
}

@keyframes wave {
  0% {
    /* Static */
    transform: scale(1) rotate(0);
  }
  3.125% {
    /* Come forward slightly, begin wave out (half length/from center) */
    transform: scale(1.2) rotate(-5deg);
  }
  6.25% {
    /* Begin wave in */
    transform: scale(1.2) rotate(5deg);
  }
  9.375% {
    /* Begin wave out */
    transform: scale(1.2) rotate(-5deg);
  }
  12.50% {
    /* Begin wave in */
    transform: scale(1.2) rotate(5deg);
  }
  15.625% {
    /* Begin wave out */
    transform: scale(1.2) rotate(-5deg);
  }
  18.75% {
    /* Begin wave in */
    transform: scale(1.2) rotate(5deg);
  }
  21.875% {
    /* Begin wave out */
    transform: scale(1.2) rotate(-5deg);
  }
  25% {
    /* Return to center, return to back */
    transform: scale(1) rotate(0);
  }
  100% {
    /* Return to center, return to back */
    transform: scale(1) rotate(0);
  }
}